/* Carousel */

.carousel-container {
    margin: auto;
    width: 1240px;
    height: 415px;
}

.carousel-container .carousel-pictures {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.carousel-container .carousel-action {
    width: 1240px;
    position: absolute;
    top: 32%;
    display: flex;
    justify-content: space-between;
}

.carousel-container .carousel-action button {
    background-color: transparent;
    border: none;
}

.carousel-container .carousel-status {
    position: absolute;
    top: 55%;
    right: 50%;
    color: white;
    font-size: 18px;
}

/* Host*/

#host-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: 30px auto;
}

.title-location {
    color: #FF6060;
}

.title-location h1 {
    font-size: 36px;
    margin: 0;
}

.title-location p {
    font-size: 18px;
    margin: 10px 0 0 0;
}

.location-article .tags-container .tags {
    display: flex;
    margin-top: 24px;
}

.location-article .tags-container .tags p {
    background: #FF6060;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    padding: 3px 20px;
    margin-right: 10px;
}

.host-article .host {
    display: flex;
}

.host-article .host p {
    width: 93px;
    height: 52px;
    font-size: 18px;
    color: #FF6060;
    margin: 0 10px 0 0;
    text-align: right;
}

.host-article .host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.host-article .rating img {
    margin-top: 24px;
}

@media screen and (min-width:768px) and (max-width:1200px) {

    /* Carousel */
    #section-carousel {
        height: 410px;
    }

    .carousel-container {
        width: 90%;
        height: 300px;
    }

    .carousel-container .carousel-action {
        width: 88%;
        top: 26%;
    }

    /* Host */
    #host-section {
        width: 90%;
    }

    .title-location h1 {
        font-size: 26px;
    }

    #housingAccordion-section {
        width: 90%;
        flex-direction: column;
    }

}


@media screen and (max-width:767px) {

    /* Carousel */
    #section-carousel {
        height: 410px;
    }

    .carousel-container {
        width: 335px;
        height: 255px;
    }

    .carousel-container .carousel-action {
        width: 330px;
        top: 18em;
    }

    .carousel-container .carousel-action button img {
        width: 11.67px;
        height: 19.8px;
    }


    .carousel-container .carousel-status {
        display: none;
    }

    /* Host */
    #host-section {
        width: 335px;
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .title-location h1 {
        font-size: 18px;
    }

    .title-location p {
        font-size: 14px;
    }

    .location-article .tags-container .tags {
        width: 335px;
        margin: 5px 0;
        flex-wrap: wrap;
    }

    .location-article .tags-container .tags p {
        height: 18px;
        font-size: 10px;
        text-align: center;
        margin-right: 20px;
    }

    .host-article {
        width: 335px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin: 5px auto;
    }

    .host-article .host p {
        width: 83px;
        height: 20px;
        font-size: 12px;
    }

    .host-article .host img {
        width: 40px;
        height: 40px;
    }

    .host-article .rating img {
        width: 15px;
        height: 15px;
    }


}